In [1]:
import pandas as pd

,LSOA code (2011),LSOA name (2011),Local Authority District code (2019),Local Authority District name (2019),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000001,City of London 001A,E09000001,City of London,"29,199",9,"32,831",10,"32,742",10,"32,842",10,"32,113",10,"32,662",10,"7,319",3,"7,789",3
1,E01000002,City of London 001B,E09000001,City of London,"30,379",10,"29,901",10,"31,190",10,"32,832",10,"29,705",10,"32,789",10,"11,707",4,"13,070",4
2,E01000003,City of London 001C,E09000001,City of London,"14,915",5,"18,510",6,"15,103",5,"26,386",9,"17,600",6,"29,363",9,"2,157",1,"4,092",2
3,E01000005,City of London 001E,E09000001,City of London,"8,678",3,"6,029",2,"7,833",3,"12,370",4,"17,907",6,"31,059",10,"2,217",1,"9,397",3
4,E01000006,Barking and Dagenham 016A,E09000002,Barking and Dagenham,"14,486",5,"14,023",5,"21,692",7,"17,511",6,"21,581",7,"18,848",6,"1,033",1,"10,629",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32839,E01033764,Liverpool 022E,E08000012,Liverpool,116,1,90,1,176,1,565,1,113,1,"1,688",1,"20,598",7,"14,953",5
32840,E01033765,Liverpool 061D,E08000012,Liverpool,945,1,838,1,700,1,"1,781",1,942,1,"3,402",2,"17,379",6,"21,431",7
32841,E01033766,Liverpool 042G,E08000012,Liverpool,"12,842",4,"16,430",6,"18,004",6,"20,771",7,"5,694",2,"15,832",5,"32,228",10,778,1
32842,E01033767,Liverpool 050J,E08000012,Liverpool,422,1,442,1,550,1,"1,208",1,599,1,"11,728",4,"26,597",9,915,1
32843,E01033768,Liverpool 037F,E08000012,Liverpool,"1,833",1,"3,107",1,"1,981",1,"14,675",5,719,1,"1,214",1,"15,889",5,"1,372",1